{{#sy-list model=model loading=loading as |section model|}}
  {{#if (equal section 'actions')}}
    {{#link-to 'manage.host-groups.new' class='btn btn-success'}}
      <i class="fa fa-plus"></i>&nbsp;New host group
    {{/link-to}}
  {{else if (equal section 'header')}}
    <th>Customer</th>
    <th>Host group name</th>
    <th class="visible-lg">Description</th>
  {{else if (equal section 'footer')}}
    <td colspan="5">
      {{pagination-pager current=page count=totalPages change=(action 'pageChanged')}}
    </td>
  {{else if (equal section 'row')}}
    <tr>
      <td>{{model.customer.name}}</td>
      <td>
        {{#link-to 'manage.host-groups.host-group' model.id}}
          {{model.name}}
        {{/link-to}}
        <br>
        {{model.ipv4}}
      </td>
      <td class="visible-lg">
        {{model.description}}
      </td>
    </tr>
  {{/if}}
{{/sy-list}}
