<td>
  <i class="text-{{if (eq model.type 'error') 'danger' 'warning'}} fa fa-fw fa-{{if (eq model.type 'error') 'times' 'warning'}}"></i>
  <hr>
  <div class="checkbox" style="margin:0">
    <input id="checkbox-{{model.id}}" value={{model.id}} type="checkbox">
    <label for="checkbox-{{model.id}}"></label>
  </div>
</td>
<td>
  {{model.id}}
  <hr>
  <strong>{{model.host.name}}</strong><br>
  {{model.service.name}}<br>
  {{model.host.customer.name}}<br>
  <hr>
  {{#link-to (query-params alert-actions=model.id) class='block'}}
    {{model.type}}<br>
    {{{moment-format model.datetime 'L[<br>]LT'}}}<br>
    {{#if model.closetime}}
      Duration: {{moment-duration model.duration}}
    {{else}}
      <strong>Open since {{moment-from-now model.datetime interval=1000}}</strong>
    {{/if}}
  {{/link-to}}
  <hr>
  <strong>Output:</strong>
  <div style="white-space:pre-wrap;font-family:monospace">{{model.output}}</div>
</td>
