{{#sy-list model=model loading=loading as |section model|}}
  {{#if (equal section 'actions')}}
    {{#link-to 'manage.customers.new' class='btn btn-success'}}
      <i class="fa fa-plus"></i>&nbsp;New customer
    {{/link-to}}
  {{else if (equal section 'header')}}
    <th>Name</th>
    <th class="visible-md">Comment</th>
    <th>Wiki</th>
  {{else if (equal section 'footer')}}
    <td colspan="4">
      {{pagination-pager current=page count=totalPages change=(action 'pageChanged')}}
    </td>
  {{else if (equal section 'row')}}
    <tr>
      <td>
        {{#link-to 'manage.customers.customer' model.id}}
          {{model.name}}
        {{/link-to}}
      </td>
      <td class="visible-md">
        {{model.comment}}
      </td>
      <td>
        {{#if model.wiki}}
          <a href={{model.wiki}}><i class="fa fa-wikipedia-w"></i></a>
        {{/if}}
      </td>
    </tr>
  {{/if}}
{{/sy-list}}
