<div>
  <div class="grid grid--12of12 grid-md--6of12">
    <div class="grid-cell flex-grow form-group grid-cell-xl--8of12">
      {{yield 'actions' model}}
    </div>

    {{#unless disableSearch}}
      <form class="grid-cell text-right grid-cell-xl--4of12">
        <div>
          <label for="search" class="sr-only">Search:</label>
          <input id="search" type="text" class="form-control" value={{searchValue}} placeholder="Search..." oninput={{action 'updateSearch' value='target.value'}}>
        </div>
      </form>
    {{/unless}}
  </div>
</div>

<table class="table table--striped">
  <thead><tr>{{yield 'header' model}}</tr></thead>
  <tfoot><tr>{{yield 'footer' model}}</tr></tfoot>
  <tbody class={{if loading 'loading-mask'}}>
    {{#each model as |row|}}
      {{yield 'row' row}}
    {{^}}
      {{yield 'empty' model}}
    {{/each}}
  </tbody>
</table>
