{{#sy-list model=model loading=loading as |section model|}}
  {{#if (equal section 'actions')}}
    <!-- nothing -->
  {{else if (equal section 'header')}}
    <th>
      <div class="checkbox" style="margin:0">
        <input id="toggleAll" type="checkbox" onchange={{action 'toggleAll' value='target.checked'}}>
        <label for="toggleAll"></label>
      </div>
    </th>

    {{#if media.isMaxXs}}
      <th>Alert</th>
    {{else}}
      <th></th>
      <th>Host</th>
      <th>State</th>
      <th>Output</th>
      <th></th>
    {{/if}}
  {{else if (equal section 'footer')}}
    <td colspan="6">
      {{pagination-pager current=page count=totalPages}}
    </td>
  {{else if (equal section 'row')}}
    {{component (if media.isMaxXs 'sy-alert-row--mobile' 'sy-alert-row')
      model   = model
      refresh = 'refresh'
      }}
  {{/if}}
{{/sy-list}}
