<form method="post" {{action 'save' on='submit'}}>
  <div class="form-group">
    <label for="hostname">Hostname:</label>
    {{input class="form-control" id="hostname" maxlength="255" value=model.hostname type="text" required=true}}
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    {{input class="form-control" id="description" maxlength="255" value=model.description type="text" required=true}}
  </div>

  <div class="grid grid--12of12 grid-sm--6of12">
    <div class="grid-cell form-group">
      <label for="typeId">Type:</label>
      <select class="form-control" id="typeId" required>
        <option value=""></option>
        {{#each hostTypes as |type|}}
          <option value={{type.id}} selected={{eq model.hostType.id type.id}}>{{type.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="grid-cell form-group">
      <label for="wiki">Wiki:</label>
      {{input id="wiki" class="form-control" value=model.wiki}}
    </div>

    <div class="grid-cell form-group">
      <label for="IPv4">IPv4:</label>
      {{input class="form-control" id="IPv4" value=model.ipv4 type="text" required=true}}
    </div>

    <div class="grid-cell form-group">
      <label for="IPv6">IPv6:</label>
      {{input class="form-control" id="IPv6" value=model.ipv6 type="text" required=true}}
    </div>

    <div class="grid-cell form-group">
      <label for="osId">Operating System:</label>
      <select class="form-control" id="osId" required onchange={{action 'changeOperatingSystem' value="target.value"}}>
        <option value=""></option>
        {{#each operatingSystems as |OS|}}
          <option value={{OS.id}} selected={{eq model.operatingSystem.id OS.id}}>{{OS.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="grid-cell form-group">
      <label for="osVersionId">OS version:</label>
      <select id="osVersionId" class="form-control" disabled={{not model.operatingSystem.versions.length}} onchange={{action 'setOperatingSystemVersion' value="target.value"}}>
        <option value=""></option>
        {{#each model.operatingSystem.versions as |version|}}
          <option value={{version.id}} selected={{eq model.operatingSystemVersion.id version.id}}>{{version.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="grid-cell form-group">
      <label for="dependencyId">Depends on:</label>
      <select class="form-control" id="dependencyId">
        <option value=""></option>
        <option value="18">BehindSatelliteTest</option>
        <option value="4">Host 1</option>
        <option value="5">Host 1.1</option>
        <option value="6">Host 2</option>
        <option value="7">Host 2.1</option>
        <option value="8">Host 3</option>
        <option value="9">Host 3.1</option>
        <option value="10">Host 3.2</option>
        <option value="11">Host 4</option>
        <option value="12">Host 5</option>
        <option value="17">NewSatelliteTest</option>
        <option value="16">vm-test-haaans-02.adfinis-sygroup.ch</option>
      </select>
    </div>

    <div class="grid-cell form-group">
      <label for="satelliteId">Behind satellite:</label>
      <select class="form-control" id="satelliteId" name="satelliteId">
        <option value=""></option>
        <option value="17">NewSatelliteTest</option>
      </select>
    </div>

    <div class="grid-cell checkbox">
      <input id="isSatellite" class="form-control" type="checkbox">
      <label for="isSatellite">Is a satellite</label>
    </div>

    <div class="grid-cell checkbox">
      <input id="itemEnabled" class="form-control" type="checkbox" checked>
      <label for="itemEnabled">Is enabled</label>
    </div>
  </div>

  <h3>Contract</h3>

  <div class="grid grid--12of12 grid-sm--6of12">
    <div class="grid-cell form-group">
      <label for="customerId">Customer</label>
      <select class="form-control" id="customerId" name="customerId" required>
        <option value="1" selected="selected">All customers</option>
      </select>
    </div>
    <div class="grid-cell form-group">
      <label for="slaId">Alert Scheduler:</label>
      <select class="form-control" id="slaId" name="slaId" required>
        <option value="0">Inherit (No Alarm)</option>
        <option value="3">Nightshift</option>
        <option value="1">No Alarm</option>
        <option value="2" selected>Premium</option>
      </select>
    </div>
    <div class="grid-cell checkbox">
      <input id="checkHostAlive" class="form-control" type="checkbox" checked>
      <label for="checkHostAlive">Check host alive</label>
    </div>
    <div class="grid-cell form-group">
      Whether to check the availability of the host.
    </div>
  </div>

  <h3>Comment&nbsp;<i title="Anything special with this host?" class="fa fa-info-circle"></i></h3>

  <p>
    {{textarea class='form-control' value=model.comment}}
  </p>

  <h3>Password&nbsp;<i title="The host password is required to download nrpe and satellite export files" class="fa fa-info-circle"></i></h3>

  <p>
    The current password is: <span>{{model.password}}</span>
    <br>
    Set a new one: <a href="#" class="fa fa-refresh" id="host-4"></a>
  </p>

  <p>
    <span class="label label-danger">Caution</span> If you change this password you most probably need to login to the server and configure the new one.
  </p>

  <div class="flex-grow">
    {{#link-to 'manage.hosts.list' class='btn'}}
      Cancel
    {{/link-to}}
    &nbsp;
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
