{{#sy-sidenav title='SyMonitoring' expand=expandSidenav as |component section|}}
  {{#if (eq section 'body')}}
    {{! templates/sidenav-body.hbs }}
    {{partial 'sidenav-body'}}
  {{else if (eq section 'page-content')}}
    <main class="page-main">
      {{outlet 'subnav'}}
      <div class="page-content page-content--scroll">
        {{#bread-crumbs class='breadcrumb--first-mobileonly' as |component route|}}
          {{#bread-crumb route=route breadCrumbs=component}}
            {{#if (eq route.title 'Loading')}}
              {{route.title}}{{sy-loading-dots}}
            {{else}}
              {{route.title}}
            {{/if}}
          {{/bread-crumb}}
        {{/bread-crumbs}}
        {{outlet}}
      </div>
    </main>
  {{/if}}
{{/sy-sidenav}}

{{liquid-modal}}
