{{#sy-list model=model loading=loading as |section model|}}
  {{#if (equal section 'actions')}}
    {{#link-to 'manage.customers.new' class='btn btn-success'}}
      <i class="fa fa-plus"></i>&nbsp;New customer
    {{/link-to}}
  {{else if (equal section 'header')}}
    <th>Name</th>
    <th>Comment</th>
    <th>Wiki</th>
    <th width="100"></th>
  {{else if (equal section 'footer')}}
    <td colspan="4">
      {{pagination-pager current=page count=totalPages}}
    </td>
  {{else if (equal section 'row')}}
    <tr>
      <td>
        {{#link-to 'manage.customers.customer' model.id}}
          {{model.name}}
        {{/link-to}}
      </td>
      <td>
        {{model.comment}}
      </td>
      <td>
        <a href="#"><i class="fa fa-wikipedia-w"></i></a>
      </td>
      <td>
        <div class="flex-grow">
          <button class="btn">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
      </td>
    </tr>
  {{/if}}
{{/sy-list}}
