{{#sy-list model=model loading=true as |section|}}
  {{#if (equal section 'actions')}}
    {{yield section model}}
  {{else if (equal section 'header')}}
    {{yield section model}}
  {{else if (equal section 'footer')}}
    {{yield section model}}
  {{else if (equal section 'row')}}
    <tr><td colspan="42">&nbsp;</td></tr>
  {{/if}}
{{/sy-list}}
