{{#sy-list model=model loading=loading as |section model|}}
  {{#if (equal section 'actions')}}
    {{#link-to 'manage.hosts.new' class='btn btn-success'}}
      <i class="fa fa-plus"></i>&nbsp;New host
    {{/link-to}}
    &nbsp;
    {{#link-to (query-params alert-schedule='show') class='btn'}}
      <i class="fa fa-exclamation-circle"></i>&nbsp;Alert schedules
    {{/link-to}}
  {{else if (equal section 'header')}}
    {{#unless media.isMo}}
      <th width="250">Customer</th>
    {{/unless}}
    <th>Host</th>
    <th class="visible-lg">Description</th>
    <th>Wiki</th>
    <th width="1"></th>
  {{else if (equal section 'footer')}}
    <td colspan="5">
      {{pagination-pager current=page count=totalPages}}
    </td>
  {{else if (equal section 'row')}}
    <tr>
      {{#unless media.isMo}}
        <td>{{model.customer.name}}</td>
      {{/unless}}
      <td>
        {{#if media.isMo}}
          {{model.customer.name}}
          <br>
        {{/if}}
        {{#link-to 'manage.hosts.host' model}}
          {{model.hostname}}
        {{/link-to}}
        <br>
        {{model.ipv4}}
      </td>
      <td class="visible-lg">
        {{model.description}}
      </td>
      <td>
        {{#if model.wiki}}
          <a href={{model.wiki}}><i class="fa fa-wikipedia-w"></i></a>
        {{/if}}
      </td>
      <td>
        <div class={{if media.isSm 'btn-group' 'flex-grow flex-wrap'}}>
          <button class="btn">
            <i class="fa fa-refresh"></i>
          </button>
          <button class="btn">
            <i class="fa fa-moon-o"></i>
          </button>
        </div>
      </td>
    </tr>
  {{/if}}
{{/sy-list}}
