<div class="btn-group">
  {{#if (eq model.state 'new')}}
    <a class="btn" {{action 'acknowledge' model bubbles=false}}>
      <i class="fa {{if media.isMaxXs 'fa-3x'}} fa-check"></i>
    </a>
  {{/if}}
  <a class="btn" {{action 'showComments' model bubbles=false}}>
    <i class="fa {{if media.isMaxXs 'fa-3x'}} fa-comment-o"></i>
  </a>
  <a class="btn" {{action 'showLog' model bubbles=false}}>
    <i class="fa {{if media.isMaxXs 'fa-3x'}} fa-search"></i>
  </a>
</div>
