<td>
  <div class="checkbox" style="margin:0">
    <input id="checkbox-{{model.id}}" value={{model.id}} type="checkbox">
    <label for="checkbox-{{model.id}}"></label>
  </div>
</td>
<td style="white-space:nowrap">
  <i class="text-{{if (equal model.type 'error') 'danger' 'warning'}} fa fa-{{if (equal model.type 'error') 'times' 'warning'}}"></i>
  {{model.id}}
</td>
<td>
  <strong>{{model.host.name}}</strong><br>
  {{model.service.name}}<br>
  {{model.host.customer.name}}<br>
</td>
<td>
  {{model.type}}<br>
  {{{moment-format model.datetime 'L[<br>]LT'}}}<br>
  {{#if model.closetime}}
    Duration: {{moment-duration model.duration}}
  {{else}}
    <strong>Open since {{moment-from-now model.datetime interval=1000}}</strong>
  {{/if}}
</td>
<td>
  {{model.output}}
</td>
<td></td>
