{{#sy-list model=model loading=loading as |section model|}}
  {{#if (equal section 'actions')}}
    {{#link-to 'manage.host-groups.new' class='btn btn-success'}}
      <i class="fa fa-plus"></i>&nbsp;New host group
    {{/link-to}}
  {{else if (equal section 'header')}}
    <th width="250" class="visible-sm">Customer</th>
    <th>Host group name</th>
    <th class="visible-lg">Description</th>
    <th width="100"></th>
  {{else if (equal section 'footer')}}
    <td colspan="5">
      {{pagination-pager current=page count=totalPages}}
    </td>
  {{else if (equal section 'row')}}
    <tr>
      <td class="visible-sm">{{model.customer.name}}</td>
      <td>
        {{#link-to 'manage.host-groups.host-group' model.id}}
          {{model.name}}
        {{/link-to}}
        <br>
        {{model.ipv4}}
      </td>
      <td class="visible-lg">
        {{model.description}}
      </td>
      <td>
        <div class="flex-grow">
          <button class="btn">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
      </td>
    </tr>
  {{/if}}
{{/sy-list}}
